#header {
    width: 1920px;
    height: 100px;
}
nav{
    width: 1920px;
}
#header::after {
    content: '';
    position: absolute;
    left: 0;
    top: 95px;
    width: 100%;
    height: 0px;
    background: green;
    z-index: -1;
    transition: .5s;
}
#header:hover {
    background: #b9bbb0;
    transition: .5s;
}
#header:hover::after {
    height: 200px;
}
.inner {
    height: 95px;
}

#logo img{
    width: 280px;
}
div.container {
    width: 1920px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
}
.container .toggle{
    display: none;
}
/* depth 1 */
#gnb {
    position: relative;
    z-index: 1;
    height: 95px;
    overflow: hidden;
    transition: .5s;
    text-align: center;
}
#header:hover #gnb {
    height: 295px;
}
#gnb .main {
    display: flex;
}
.main > li > a {
    padding: 8px 12px;
    /* margin: 4px 12px; */
}
#gnb .main > li {
    line-height: 95px;
    padding: 0 32px;
}
/* depth 2 */
.main li:hover >.sub > li {
    display: block;
}
.sub li {
    text-align: center;
    line-height: 1.8;
    /* display: none; */
    /* margin: 4px 8px; */
    padding:14px 0;
}
.sub a {
    display: block;
}
/* member */
.member{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}
.member li{
    padding-right: 14px;
}
.member li:nth-of-type(3) img{
    width: 30px;
    height: 30px;
}
.member li:nth-of-type(4) img{
    width: 25px;
    height: 25px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (min-width: 1400px)
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1920px;