.error {
    color: #D26F64;
    font-size: 0.9rem;
    margin-top: 2px;
}

.loginWrap {
    width: 500px;
    margin: 120px auto 200px;
}

.loginWrap h2 {
    margin-left: 24px;
}

.loginWrap form {
    width: 450px;
    margin: 40px auto;
}

.loginInput input {
    margin: 12px 0;
}

.loginWrap .form-control {
    border-radius: 0;
}


.loginBtn, .joinBtn {
    color: #ffffff;
    width: 450px;
    height: 45px;
    text-align: center;
    border: none;
    display: block;
    margin: 4px auto;
}

.loginBtn {
    background: #222222;
    margin: 30px 0 12px;
}

.loginBtn:hover {
    background: #D26F64;
}

.joinBtn {
    background: #626262;
    color: #ffffff;
}

.or::before, .or::after {
    content: "";
    flex-grow: 1;
    background: #DCDCDC;
    height: 1px;
    margin: 0 10px;
}

.or {
    text-align: center;
    margin: 24px auto;
    display: flex;
    align-items: center;
    width: 470px;
    color: #555555;
}

.snsLogin {
    width: 300px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.snsLogin a {
    margin: 8px;
}

.snsLogin img {
    width: 60px;
    height: 60px;
}