<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .content{
            margin: 0;
        }
    </style>
</th:block>
<div layout:fragment="contents">
    <div id="carouselExampleIndicators" class="sec1 carousel slide"
         data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/sec1-1.jpg"
                     class="d-block w-100" alt="...">
                <div class="sec1-text">
                    <h5>따뜻한 커피의 계절</h5>
                    <p>가장 사랑받는 판매베스트 상품을 만나보세요</p>
                    <button>자세히보기</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/sec1-2.jpg"
                     class="d-block w-100" alt="...">
                <div class="sec1-text">
                    <h5>맛과 향 그대로<br> 디카페인 커피</h5>
                    <p>늦은 저녁에도 부담없이 즐기는 커피타임</p>
                    <button>자세히보기</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/sec1-3.jpg"
                     class="d-block w-100" alt="...">
                <div class="sec1-text">
                    <h5>5세트 구매하면 특가</h5>
                    <p>매일 진행하는 이벤트</p>
                    <button>자세히보기</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators"
           role="button" data-bs-slide="prev"> <span
                class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                class="visually-hidden">Previous</span>
        </a> <a class="carousel-control-next" href="#carouselExampleIndicators"
                role="button" data-bs-slide="next"> <span
            class="carousel-control-next-icon" aria-hidden="true"></span> <span
            class="visually-hidden">Next</span>
    </a>
    </div>

    <div class="sec2">
        <h2>주간 BEST</h2>
        <div class="slide_wrap" >
            <div class="slide_show">
                <div class="slide_list sec2list">
                    <div class="slideimg">
                        <a href="/">
                        <img src="/img/sec2-1.jpg" alt="이미지" data-aos="zoom-in">
                        <div class="sec2-text">
                            <p>[뉴크롭] 케냐 AA 키암부</p>
                            <span>2,900</span>
                            <div class="sec2-best">
                                <img src="/img/BEST.jpg">
                                <img src="/img/추천.jpg">
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="slideimg">
                        <a href="/">
                        <img src="/img/sec2-2.jpg" alt="이미지" data-aos="zoom-in">
                        <div class="sec2-text">
                            <p>에티오피아</p>
                            <span>5,800</span>
                            <div class="sec2-best">
                                <img src="/img/BEST.jpg">
                                <img src="/img/추천.jpg">
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="slideimg">
                        <a href="/">
                        <img src="/img/sec2-3.jpg" alt="이미지" data-aos="zoom-in">
                        <div class="sec2-text">
                            <p>스타 블렌드</p>
                            <span>2,900</span>
                            <div class="sec2-best">
                                <img src="/img/BEST.jpg">
                                <img src="/img/추천.jpg">
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="slide_btn">
                <button class="prev"><</button>
                <button class="next"> > </button>
            </div>
        </div>
    </div> <!--  sec2  -->

    <div class="sec3">
        <h1>EVNET</h1>
        <div class="sec3-wrap">
            <a href="/"><img src="/img/sec3-1.jpg" alt=""  data-aos="flip-right"></a>
            <a href="/"><img src="/img/sec3-2.jpg" alt="" data-aos="flip-right"></a>
            <a href="/"><img src="/img/sec3-3.jpg" alt="" data-aos="flip-right"></a>
            <a href="/"><img src="/img/sec3-4.jpg" alt="" data-aos="flip-right"></a>
        </div>
    </div> <!--  sec3  -->

</div>
