<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/login.css">
</th:block>

<div layout:fragment="content">

    <div class="loginWrap">
        <h4>로그인</h4>
        <form role="form" method="post" action="/members/login">
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="이메일을 입력해주세요">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호 입력">
            </div>

            <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>

            <button class="loginBtn">로그인</button>
            <button type="button" class="joinBtn" onClick="location.href='/members/new'">회원가입</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

        </form>
        <div class="snsLogin">
            <a href="/oauth2/authorization/google" class="btn btn-third active" role="button">google</a>
            <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">naver</a>
            <a href="/oauth2/authorization/kakao" class="btn btn-warning active" role="button">kakao</a>
        </div>

    </div>

</div>

</html>