<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
    <link th:href="@{/css/faq.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/faq.js}" type="text/javascript"></script>
    <script th:inline="javascript">

    </script>
</th:block>
<div layout:fragment="content">
    <div class="csCenter">
        <div class="text-center">
        <h2 class="display-5 mb-3">고객 센터</h2>
        <p style="color:#777;font-size:15px;">고객님의 질문에 성심껏 답변해 드리겠습니다.</p>
        <div class="cusSub">
            <ul class="customerTab cf">
                <li class="on"><a href="/CsCenter/faq">FAQ</a></li>
                <li><a href="/CsCenter/notices">공지사항</a></li>
                <li><a href="/question/list">문의하기</a></li>
            </ul>
            <ul class="faqTab cf">
              <li class="on"><a href="#">회원가입/정보</a></li>
              <li><a href="#">교환/환불/반품</a></li>
              <li><a href="#">기타</a></li>
            </ul>
            <div class="faqCon">
<!--              아코디언 컨텐츠-->
              <dl class="con1" id="con1" style="display:block;">
                  <dt class="on"><span>Q</span>상품을 구입하려면 꼭 회원 가입을 해야 하나요?</dt>
                  <dd style="display:none;">
                      <span>A</span><div><p>비회원/회원 모두 구입이 가능합니다. 비회원 구입시 구입정보로 조회를 하실 수 있습니다.
                      공볶는사람들 회원의 경우, 각종 이벤트 참여 기회 등 많은 혜택이 있으니 회원가입 후 상품을 구입하는것이 좋습니다.</p></div>
                  </dd>
                  <dt><span>Q</span>개인정보를 변경하고 싶어요.</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>개인정보 변경은 홈페이지 상단의 마이페이지 메뉴를 클릭하시면 변경이 가능합니다.
                      거주지나 연락처가 변경되는 경우 수정해주시기 바랍니다.</p></div>
                  </dd>
                  <dt><span>Q</span>회원 탈퇴는 어떻게 하나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>홈페이지 상단 마이페이지 버튼을 클릭하셔서 왼쪽 메뉴탭의 문의게시판을 들어가시면 회원탈퇴 버튼이 있습니다.
                      탈퇴 즉시 모든 개인정보가 삭제되오니 이점 유념하시기 바랍니다.</p></div>
                  </dd>
                  <dt><span>Q</span>비밀번호가 기억이 나지 않아요.</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>ID나 비밀번호가 기억이 나지 않으실 때에는 로그인 페이지의 ID찾기/비밀번호찾기 메뉴를 이용해주세요.</p></div>
                  </dd>
                  <dt><span>Q</span>회원으로 가입하면 어떤 혜택이 있나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>신규 회원 가입시
                      1. 현금처럼 사용할 수 있는 1,000원의 마일리지가 적립됩니다.
                      2. 회원으로 주문 시 총 결제 금액의 5%가 적립됩니다.
                      (비회원의 경우 적립되지 않습니다.)
                      3. 쇼핑몰 단독 이벤트 및 쿠폰발급 이벤트 참여가 가능합니다.</p></div>
                  </dd>
              </dl>
              <dl class="con2" id="con2" style="display:none;">
                  <dt><span>Q</span>상품이 배송 중에 파손되어 도착했습니다.</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>배송과정에서 간혹 물품이 파손되는 경우가 있습니다. 게시판 혹은 고객센터를 이용하여 연락주시면 빠른 교환처리 도와드리겠습니다.
                          파손되어 배송된 상품은 처음 배송되어 온 상태(박스 상태) 그대로 택배 물품 새로 받으실 때 기사분께 전달해주시면 됩니다.</p></div>
                  </dd>
                  <dt><span>Q</span>분쇄도를 잘못 선택했어요, 어떡하죠?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>콩볶는사람들은 분쇄서비스를 시행하지 않고 있습니다. 신선한 원두를 제공해 드리고자 원두 상태로 보내니 고객님이 원하시는 분쇄도로 직접 갈아서 드시면 되겠습니다.</p></div>
                  </dd>
                  <dt><span>Q</span>교환 방법은 어떻게 되나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>상품 교환 문의에 앞서 먼저 교환 분가 사유 및 품목을 확인하여 주세요.<br>
                          1. 고객님의 책임이 있는 사유로 상품 등이 멸실 또는 훼손된 경우
                          2. 제품 외관상의 문제(스크래치, 찌그러짐, 파손 등)일 경우, 사용하신 후에는 반품 및 교환 환불이 되지 않으니 사용 전 잘 살펴본 후에 사용부탁드립니다.
                          3. 상품의 택, 라벨 또는 기타 부착물을 제거, 훼손한 경우
                          4. 갓볶은 원두커피는 주문 후 제조식품으로, 교환 및 환불이 불가합니다.
                          위에 해당하지 않으시다면, 교환이 가능합니다.
                          문의게시판에 교환신청을 남겨주시거나 고객센터로 교환 문의 후 새로운 상품을 받으실 때 그대로 기사님께 전해주시면 됩니다.</p></div>
                  </dd>
                  <dt><span>Q</span>무통장 입금시 입금자명을 다르게 입금했어요.</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>결제수단 중 무통장 입금 선택하여 결제 시
                          입금자명이 다를 경우에는 확인이 되지 않아, 처리 및 발송이 지연됩니다.
                          1:1 문의나 고객센터로 연락 후 말씀해주셔야 빠른 처리가 가능합니다.</p></div>
                  </dd>
                  <dt><span>Q</span>현금결제와 카드결제로 나누어서 결제하고 싶어요.</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>콩볶는사람들의 결제수단은 무통장입금, 계좌이체, 카드결제로 이루어져 있습니다.
                          1가지 수단으로만 결제가 가능하며, 나누어서 결제하실 수는 없습니다.
                          적립금과는 함께 사용이 가능합니다.</p></div>
                  </dd>
                  <dt class="on"><span>Q</span>주문한 상품 결제수단 변경이 되나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>죄송합니다만, 결제수단 변경은 되지 않습니다.
                          주문 취소하신 후 다시 재주문 해주시면 됩니다.</p></div>
                  </dd>
                  <dt><span>Q</span>결제 영수증이 필요합니다. </dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>홈페이지 상단에 있는 마이페이지 내 주문목록/배송조회에서 주문번호를 누르시면 하단에 결제 정보를 확인하실 수 있습니다.<br/>
                          (마이페이지 - 쇼핑정보 카페고리 - 주문목록/배송조회 - 주문번호 클릭 - 결제정보)</p></div>
                  </dd>
                  <dt><span>Q</span>배송지를 변경하고 싶어요.</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>택배 발송 전에 고객센터(051-526-1183)로 연락주시면 배송지를 변경하여 드립니다.<br/>
                          택배 출고 후 주소지 변경은 택배 교환 접수로 인하여 배송비가 추가로 부담되며, 배송 기한이 더 소요될 수 있으니 유의바랍니다. </p></div>
                  </dd>
                  <dt class="on"><span>Q</span>배송은 얼마나 걸리나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>당일 3시(오후) 이전 입금 확인건까지 당일 발송을 원칙으로 하고 있습니다.
                          주문 후 로스팅이 들어가기 때문에, 당일 주문 마감 시간 15시까지 주문 들어온 물량만큼 당일 출고해드리고 있습니다.

                          (토요일 및 공휴일은 로스팅을 쉽니다.)

                          당일 출고시에 택배는 빠르면 익일 수령이 가능하시며, 택배사 사정과 집배지역 물량사정에 따라 1~3일 정도 후에 받아보실 수 있습니다.

                          콩볶는사람들은 cj대한통운을 지정 택배사로 이용하고 있으며, 도서산간 지역의 경우 추가 택배비와 추가 시간이 소요될 수 있으니 유의 바랍니다.

                          기본 배송비는 2,500원이며 3만원 이상 주문시 무료배송 됩니다. </p></div>
                  </dd>
                  <dt class="on"><span>Q</span>휴일 배송은 안되나요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>우체국 등기로 발송되는 상품의 경우 휴일 배송을 제공해드리지 못하고 있습니다.</p></div>
                  </dd>
                  <dt class="on"><span>Q</span>제주도, 섬, 오지 및 일부 산간 지역도 배송이 가능한가요?</dt>
                  <dd style="display:none;">
                      <span>A</span>
                      <div><p>죄송합니다. 제주도, 섬, 오지 및 일부 산간 지역에 한하여 배송이 제한되거나 추가비용이 발생할 수 있습니다.</p></div>
                  </dd>
              </dl>
              <dl class="con3" id="con3" style="display:none;">
                    <dt><span>Q</span>견적서를 출력하고 싶어요.</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>원하시는 제품을 장바구니에 담아주세요. 장바구니창으로 이동후 장바구니 화면에서 담겨있는 제품들을 확인하신 후 하단 좌측에 견적서 출력 버튼을 누르시면 출력하실 수 있습니다. </p></div>
                    </dd>
                    <dt class="on"><span>Q</span>무통장 입금했는데 입금대기라고 떠요.</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>평일 오후 3시 이후 입금 건은 익영업일 오전 중 수기로 입금 확인 처리가 됩니다. 금요일 오후 3시 이후 입금 건은 월요일 오전에 확인됩니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>주문을 취소하고 싶어요.</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>고객님들의 주문건은 주문서 재출력 방지 등의 사유로 저희가 수기로 취소해 드리고 있습니다. 취소 문의 남겨주시면 확인 후 영업시간 내 신속하게 처리해드리도록 하겠습니다.</p></div>
                    </dd>
                    <dt class="on"><span>Q</span>원두에 오일이 많아요. 오래된 것 아닌가요?</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>원두 표면에 생겨나는 오일은 자연스러운 현상입니다. 원두 내에 많은 양 함유되어 있어, 볶은 후 일정량씩 계속 배출이 됩니다.
                            CITY 이상의 볶음도에서는 원두 오일이 배출되는 시간이 빠릅니다. 콩볶는사람들의 홀릭 다크와 홀릭 에스프레소,
                            싱글오리진원두 중 콜롬비아 수프리모, 과테말라 등 강배전된 원두들은 오일이 빨리 생겨나서 배송받으실 때 쯤 오일이 배어있지만 맛과 향을 느껴보시면 당일로스팅의 신선함을 느끼실 수 있습니다. </p></div>
                    </dd>
                    <dt class="on"><span>Q</span>봉투 뒷면에 체크된 알파벳은 무엇인가요?</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>같은 산지의 커피일 경우, 봉투 뒷면에 있는 나라명에 체크 후 알파벳 약자로 구분하여 기입해드리고 있습니다.<br/>
                            브라질 S - 브라질 산토스 C - 브라질 프리미엄 세하도<br/>
                            에티오피아 S2 - 에티오피아 시다모 G2 S4 - 에티오피아 시다모 G4 Y2 - 에티오피아 예가체프 G2 Y4 - 에티오피아 예가체프 G4<br/>
                            콜롬비아 H - 콜롬비아 수프리모 후일라 M - 콜롬비아 메델린 B - 콩볶사 콜롬비아 블렌드<br/>
                            과테말라 A - 과테말라 안티구아 AL - 라이트 과테말라<br/>
                            케냐 L - 라이트 케냐<br/>
                            인도 M - 인도 몬순 </p></div>
                    </dd>
                    <dt class="on"><span>Q</span>블렌딩커피를 구입했는데 콩 모양과 색깔이 달라요.</dt>
                    <dd style="display:none;">
                        <span>A</span>
                        <div><p>블렌딩 커피란?
                            커피의 품종, 로스팅 정도, 가공 방법 등이 다른 두가지 이상의 커피를 혼합하는 과정으로 단조로움을 탈피하고 커피의 새로운 맛과 향을 만들어 내는 것을 말합니다.
                            블렌딩을 통하여 커피의 좋은 점은 서로 조화 시키고 부족한 점은 보완함으로써 보다 풍부하고 새로운 향미의 커피가 창조 되는 것입니다.<br/>

                            블렌딩 커피는 여러커피를 혼합하여 만들기 때문에 콩의 색깔과 모양이 다양해집니다. 같은 온도의 열을 받아도 다양한 콩이 모여 볶이다보니 원두의 색이 다르게 나타나는 것일뿐 로스팅이 고르게 되지 않은 것이 아닙니다.
                            두가지 이상의 커피콩이 모여 새로운 맛과 향을 창조합니다.</p></div>
                    </dd>
                </dl>
            </div>
              <div class="cusCenter cf">
                  <div class="cs">
                      <span>고객상담센터<em>051-123-4567</em></span>
                      <p>cr@coffee.co.kr</p>
                      <p>Holiday 토요일/일요일/법정공휴일</p>
                      <p>Lunch PM 12:00 ~ 13:00</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
</html>